.post-button{
    width: 70%;
    text-align: start;
    height: 80%;
    border-radius:2rem;
    background-color: whitesmoke;
    color: black;
    border: 1px solid #b7b7b7;
}
.post-button:hover{
    background-color: #dcdbdb;
}

.modal-input{
    border:1px solid grey;
    background-color: white;
    outline: none;
    color: black;
    width: 100%;
}